.DS_Store
.stignore
org-clock-save.el
recentf
projectile-bookmarks.eld
history
mode
.org*
auto-save-list*
.emacs.desktop*
elpa/*
transient/*
ido.last*
lisp/use-package/
projectile.cache
bookmarks
sessionDesktop.el
init.el~
network-security.data
tramp
eln-cache/